/* Контейнер экипировки */
#equipmentContainer {
  position: fixed;
  background: url("equipment_background.png") center no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 480px;
  box-shadow: 0 0 15px rgba(255, 0, 102, 0.5);
  border-radius: 13px;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#damageDisplay {
  position: absolute;
  top: 3%;
  left: 20%;
  transform: translateX(-50%) scale(1);
  min-width: 80px;
  padding: 6px 12px;
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  text-align: center;
  background: rgba(0, 0, 0);
  border-radius: 6px;
  z-index: 10;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

#equipmentGrid {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.equipment-slot {
  width: 60px;
  height: 60px;
  box-shadow: inset 0 0 5px rgba(0, 204, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.equipment-slot:hover {
  border-color: #ff0066;
  box-shadow: 0 0 10px rgba(255, 0, 102, 0.7),
    inset 0 0 5px rgba(255, 0, 102, 0.3);
  transform: scale(1.05);
}

/* Индивидуальные стили для каждого слота экипировки */
.head-slot {
  position: relative;
  top: -20%;
  left: -8%;
  width: 80px;
  height: 80px;
  z-index: 4;
}

.chest-slot {
  position: relative;
  top: -10%;
  left: -10%;
  width: 80px;
  height: 80px;
  z-index: 3;
}

.pants-slot {
  position: absolute;
  top: 28%;
  left: -8%;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.belt-slot {
  position: relative;
  top: 0%;
  left: -10%;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.boots-slot {
  position: relative;
  top: 40%;
  left: -8%;
  width: 80px;
  height: 80px;
  z-index: 0;
}

.weapon-slot {
  position: relative;
  top: 100%;
  left: 0%;
  width: 80px;
  height: 80px;
  z-index: 0;
}

.gloves-slot {
  position: relative;
  top: 66%;
  left: -23%;
  width: 80px;
  height: 80px;
  z-index: 4;
}

.offhand-slot {
  position: relative;
  top: 85%; /* Чуть ниже gloves-slot */
  left: -23%;
  width: 80px;
  height: 80px;
  z-index: 4;
}

.equipment-slot {
  position: relative;
}

.equipment-slot::after {
  content: attr(title);
  position: absolute;
  top: 80%;
  left: 120%;
  transform: translateX(-50%);
  background: #0a0a0a;
  border: 1px solid #00ccff;
  color: #00ccff;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 5px rgba(0, 204, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

.equipment-slot:hover::after {
  opacity: 1;
  visibility: visible;
}

.equipment-slot.show-tooltip::after {
  opacity: 1;
  visibility: visible;
}

/* Мобильная адаптация экипировки */
@media (max-width: 500px) {
  #equipmentContainer {
    width: 66%;
    height: 53.5%;
    top: 46%;
    padding: 10px;
  }

  .equipment-slot::after {
    left: 115%;
    top: 70%;
  }

  .head-slot {
    position: relative;
    top: -20%;
    left: -13%;
    width: 70px;
    height: 70px;
    z-index: 4;
  }

  .chest-slot {
    position: relative;
    top: -10%;
    left: -13%;
    width: 70px;
    height: 70px;
    z-index: 3;
  }

  .pants-slot {
    position: relative;
    top: 10%;
    left: -13%;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

  .belt-slot {
    position: relative;
    top: 0%;
    left: -13%;
    width: 70px;
    height: 70px;
    z-index: 2;
  }

  .boots-slot {
    position: relative;
    top: 20%;
    left: -13%;
    width: 70px;
    height: 70px;
    z-index: 0;
  }

  .weapon-slot {
    position: relative;
    top: 155%;
    left: 0%;
    width: 70px;
    height: 70px;
    z-index: 0;
  }

  .gloves-slot {
    position: relative;
    top: 40%;
    left: -23%;
    width: 70px;
    height: 70px;
    z-index: 4;
  }

  .offhand-slot {
    position: relative;
    top: 55%; /* Чуть ниже gloves-slot для мобильных */
    left: -23%;
    width: 70px;
    height: 70px;
    z-index: 4;
  }

  #damageDisplay {
    font-size: 12px;
    transform: translateX(-50%) scale(0.9);
  }
}
