/* mister-twister-slot.css */

.npc-dialog.open.twister-full-window {
  background: url("mister_twister_slot_bg.png") center/cover no-repeat;
  min-height: 520px;
  overflow: hidden;
  position: relative;
}

.npc-dialog-content {
  padding: 16px;
  margin: 12px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.digital-slots {
  display: flex;
  justify-content: center; /* расстояние между табло — настраивай здесь */
  margin: 32px 0 40px;
  perspective: 800px; /* для лёгкого 3D-эффекта при желании */
}

.digital-reel {
  width: 95px;
  height: 75px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.digital-reel canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#reel1 {
  transform: translateY(49px) translateX(-40px);
}
#reel2 {
  transform: translateY(49px) translateX(-38px);
}
#reel3 {
  transform: translateY(49px) rotate(0.5deg) translateX(-35px);
}

.spin-button {
  position: relative;
  left: 48%;
  top: 4%;
  width: 30%;
  height: 13%;
  text-align: left;
  background: none;
  color: yellow;
  font-size: 25px;
  font-weight: bold;
}

.spin-button:disabled {
  background: #444;
  box-shadow: none;
  opacity: 0.55;
  cursor: not-allowed;
}

.bonus-lights {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.bonus-light {
  width: 24px;
  height: 24px;
  border-radius: 20%;
  transition: all 0.4s ease;
}

/* Бонусные огоньки — теперь каждый со своим классом */
.bonus-lights {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 420px;
  position: relative;
}

/* Индивидуальные классы для позиционирования */
.bonus-light-0 {
  width: 5%;
  height: 25%;
  transform: translate(57px, 7px) rotate(13deg);
}
.bonus-light-1 {
  width: 5%;
  height: 30%;
  transform: translate(40px, -5px) rotate(10deg);
}
.bonus-light-2 {
  width: 7%;
  height: 30%;
  transform: translate(13px, -15px) rotate(10deg);
}
.bonus-light-3 {
  width: 6%;
  height: 30%;
  transform: translate(-25px, -27px) rotate(10deg);
}
.bonus-light-4 {
  width: 6%;
  height: 33%;
  transform: translate(-67px, -40px) rotate(10deg);
}
.bonus-light-5 {
  width: 8%;
  height: 33%;
  transform: translate(-107px, -53px) rotate(6deg);
}
.bonus-light-6 {
}
.bonus-light-7 {
}
.bonus-light-8 {
}
.bonus-light-9 {
}
.bonus-light-10 {
  /* последний */

  /* transform: translate(20px, -10px); */ /* пример смещения */
}

.bonus-light.active {
  background: #ffaa00;
  box-shadow:
    0 0 20px #ffaa00,
    inset 0 0 12px #ff8800;
}

#twister-result {
  color: #ff0000;
  text-shadow: 0 0 8px #ff0000;
  font-size: 1.4rem;
  text-align: center;
  min-height: 3em;
  margin-top: 12px;
}
