/* mister-twister-slot.css */

.npc-dialog.open.twister-full-window {
  background: url("mister_twister_slot_bg.png") center/cover no-repeat;
  min-height: 520px;
  overflow: hidden;
  position: relative;
}

.npc-dialog-content {
  padding: 16px;
  margin: 12px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.npc-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 10px #000;
  position: relative;
  top: 88%;
  left: 15%;
}

.digital-slots {
  display: flex;
  justify-content: center; /* расстояние между табло — настраивай здесь */
  margin: 32px 0 40px;
  perspective: 800px; /* для лёгкого 3D-эффекта при желании */
}

.digital-reel {
  width: 95px;
  height: 75px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.digital-reel canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#reel1 {
  transform: translateY(49px) translateX(-40px);
}
#reel2 {
  transform: translateY(49px) translateX(-38px);
}
#reel3 {
  transform: translateY(49px) rotate(0.5deg) translateX(-35px);
}

.spin-button {
  position: fixed;
  transform: translateY(17px) translateX(113px);
  width: 14%;
  height: 6%;
  text-align: center;
  background: none;
  color: yellow;
  font-size: 25px;
  font-weight: bold;
}

.spin-button:disabled {
  background: #444;
  box-shadow: none;
  border: none;
  opacity: 0.55;
  cursor: not-allowed;
}

.bonus-lights {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.bonus-light {
  width: 24px;
  height: 24px;
  border-radius: 20%;
}

/* Индивидуальные классы для позиционирования */
.bonus-light-0 {
  width: 4%;
  height: 25%;
  transform: translate(64px, 7px) rotate(13deg);
}
.bonus-light-1 {
  width: 4.5%;
  height: 30%;
  transform: translate(46px, -3px) rotate(10deg);
}
.bonus-light-2 {
  width: 5%;
  height: 30%;
  transform: translate(15px, -15px) rotate(10deg);
}
.bonus-light-3 {
  width: 4%;
  height: 30%;
  transform: translate(-16px, -28px) rotate(10deg);
}
.bonus-light-4 {
  width: 6%;
  height: 33%;
  transform: translate(-62px, -40px) rotate(10deg);
}
.bonus-light-5 {
  width: 5%;
  height: 33%;
  transform: translate(-103px, -53px) rotate(6deg);
}
.bonus-light-6 {
  width: 6%;
  height: 30%;
  transform: translate(-152px, -64px) rotate(4deg);
}
.bonus-light-7 {
  width: 6%;
  height: 30%;
  transform: translate(-195px, -75px) rotate(-2deg);
}
.bonus-light-8 {
  width: 5%;
  height: 30%;
  transform: translate(-230px, -94px) rotate(-10deg);
}
.bonus-light-9 {
  width: 5%;
  height: 30%;
  transform: translate(-250px, -108px) rotate(-10deg);
}
.bonus-light-10 {
  transform: translate(-265px, -135px) rotate(-10deg);
  width: 6%;
  border-radius: 50%;
}

.bonus-light.active {
  background: #ff1900;
  box-shadow:
    0 0 20px #ff1900,
    inset 0 0 12px #ff1900;
}

#twister-result {
  position: absolute;
  left: 50%;
  top: 75%;
  color: #ff0000;
  text-shadow: 0 0 8px #ff0000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  min-height: 3em;
  margin-top: 12px;
}

@media (max-width: 500px) {
  .npc-dialog.open.twister-full-window {
    overflow: hidden;
    position: relative;
    min-width: 394px;
  }

  .spin-button {
    top: 49.5%;
  }

  #twister-result {
    top: 74%;
  }

  #reel1 {
    transform: translateY(57px) translateX(-40px);
  }
  #reel2 {
    transform: translateY(57px) translateX(-35px);
  }
  #reel3 {
    transform: translateY(57px) rotate(0.5deg) translateX(-32px);
  }

  .bonus-light-0 {
    width: 4%;
    height: 25%;
    transform: translate(55px, 0px) rotate(13deg);
  }
  .bonus-light-1 {
    width: 4.5%;
    height: 30%;
    transform: translate(38px, -13px) rotate(10deg);
  }
  .bonus-light-2 {
    width: 5%;
    height: 30%;
    transform: translate(10px, -25px) rotate(10deg);
  }
  .bonus-light-3 {
    width: 5%;
    height: 30%;
    transform: translate(-26px, -38px) rotate(10deg);
  }
  .bonus-light-4 {
    width: 6%;
    height: 33%;
    transform: translate(-62px, -50px) rotate(10deg);
  }
  .bonus-light-5 {
    width: 5%;
    height: 33%;
    transform: translate(-103px, -60px) rotate(6deg);
  }
  .bonus-light-6 {
    width: 6%;
    height: 30%;
    transform: translate(-146px, -72px) rotate(4deg);
  }
  .bonus-light-7 {
    width: 6%;
    height: 30%;
    transform: translate(-190px, -85px) rotate(-2deg);
  }
  .bonus-light-8 {
    width: 5%;
    height: 30%;
    transform: translate(-220px, -102px) rotate(-10deg);
  }
  .bonus-light-9 {
    width: 5%;
    height: 30%;
    transform: translate(-241px, -116px) rotate(-10deg);
  }
  .bonus-light-10 {
    transform: translate(-257px, -140px);
    width: 6%;
    border-radius: 50%;
  }
}
