/* Джойстик для мобильных */
@media (max-width: 500px) {
  #joystickContainer {
    position: absolute;
    top: 78%;
    left: 7%;
    width: 120px;
    height: 120px;
    pointer-events: none;
    z-index: 50;
  }

  .joystick-outer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 255, 255, 0.1);
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    pointer-events: auto;
    position: relative;
  }

  .joystick-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
    pointer-events: none;
  }
}
